@font-face {
  src: url(font/BigFishCasuals.otf);
  font-family: BF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: BF, sans-serif;
  letter-spacing: 1px;
}
main {
  padding: 1rem;
}

.navBar {
  position: absolute;
  width: 100%;
  background-image: url("images/navbg.jpg");
}
.navLogo {
  margin-left: 20px;
  padding: 0;
}
.mini-logo {
  padding: 0;
  margin-left: 1rem;
}

.loginGif {
  width: 100%;
}

.logo {
  height: 400px;
  width: 400px;
  border-radius: 200px;
}

.products {
  display: flex;
  flex-wrap: wrap;
}

.product {
  padding: 0;
  margin-bottom: 1rem;
}

.card {
  margin: 0.7rem;
  overflow: hidden;
}

.homeBanner {
  padding: 0;
  background-image: url("images/bg.jpg");
  height: 100vh;
  width: 100%;
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 60%;
}

.homeRight {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login {
  width: 23%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.img-thumbnail {
  height: 80px;
}
.img-product-view {
  width: 100%;
}
.left {
  margin-left: auto;
  margin-right: 6rem;
}

.container-fluid {
  padding: 0;
}

#loginContainer {
  margin: 0;
  max-width: 100%;
  height: 100vh;
  background-image: url("images/login.gif");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right {
  margin-left: 1rem;
  margin-right: auto;
}

.img-product {
  height: 263px;
  width: 350px;
}

/* Pages padding */

.pagePadding {
  padding-top: 4rem;
  margin: 0;
}

/* LoginPage */
.small-container {
  max-width: 600px;
}

.registerPage {
  margin: 0;
  max-width: 100%;
  height: 100vh;
  background-image: url("images/login.gif");
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  background-color: white;
  padding: 1rem;
  border-radius: 30px;
}

/* CheckoutSteps */

.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}

.checkout-steps > div.active {
  border-bottom: 0.2rem solid #f08000;
  color: #f08000;
}
